<div>
  <%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
  <p>title：<%= @book.title %></p>
  <p>opinion：<%= @book.body %></p>
  <p>ユーザーネーム：<%= @book.user.name %></p>
  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book) %>
    <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "Are you sure?" %>
  <% end %>
</div>
